

<% layout(`/includes/${currentUserPos}`) -%> 
<% block('title').append('<h5>Material Inward</h5>') %>

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                       
                        <div class="card-body">
                            <div id="basic-pills-wizard" class="twitter-bs-wizard">
                                
                                <!-- wizard-nav -->

                                <div class=" twitter-bs-wizard-tab-content">
                                    
                                    <div class="tab-pane" id="bank-detail">
                                        <div>
                                          
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="invoice-title">
                                                                <div class="d-flex align-items-start">
                                                                    <div class="flex-grow-1">
                                                                        <div class="mb-4">
                                                                            <img src="assets/images/logo2-2.png" alt="" height="24"><span class="logo-txt"> ( MATERIAL INWARD )</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-shrink-0">
                                                                        <div class="mb-4">
                                                                            <h4 class="float-end font-size-16">JOB : <%= tests[0].jobId %> </h4>
                                                                            
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>
                                                                
                    
                                                            </div>
                                                            <hr class="my-4">
                                                            
                                                            <!-- <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div>
                                                                        <h5 class="font-size-15 mb-3">Name of Work : <%=// inward.name %></h5>
                                                                        <p class="mb-1">This is the software project from vadodara branch
                                                                            </p>
                                                                      
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                            <br>     -->

                                                            <div class="row">
                                                                <div class="col-xl-12">
                                                                    <div class="card">
                                                                        
                                                                        <div class="card-body">
                                                                            <div class="table-responsive mb-4">
                                                                                <table class="table table-bordered border-primary mb-0">
                                        
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>#</th>
                                                                                            <th>Sample No.</th>
                                                                                            <th>Material</th>
                                                                                            <th>Test</th>
                                                                                            <th>Report No.</th>
                                                                                            <th>Status</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <% tests.forEach((test,index) => { %>
                                                                                            <tr>
                                                                                                <th scope="row"><%= index+1 %></th>
                                                                                                <td><%= test.sampleNo %></td>
                                                                                                <td><%= test.material %></td>
                                                                                                <td><%= test.testName %></td>
                                                                                                <td><%= test.reportNo %></td>
                                                                                                <td><%= test.status %></td>
                                                                                            </tr>
                                                                                        <% }) %>
                                                                                    </tbody>
                                                                                </table>
                                                                                <% if (tests[0].report) { %>
                                                                                    <div class="d-flex">
                                                                                        <div class="w-50 m-3">
                                                                                            <h4>Report</h4>
                                                                                            <div>
                                                                                                <img src="/department/images/<%= tests[0].report %>" alt="Click the button below to view the report" width="400px" class="mx-3">
                                                                                            </div>
                                                                                            <div class="d-flex my-4 justify-content-center">
                                                                                                <a target="_blank" class="btn btn-info mx-4" href="/department/images/<%= tests[0].report %>">Preview</a>
                                                                                                <form action="/department/images/<%= tests[0].report %>/download" method="POST">
                                                                                                    <button class="btn btn-primary mx-4">Download</button>
                                                                                                </form>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="m-3 w-50">
                                                                                            <h4>Worksheet</h4>
                                                                                            <div>
                                                                                                <img src="/department/images/<%= tests[0].worksheet %>" onerror="this.src=''" alt="Click the button below to view the report" width="400px" class="mx-3">
                                                                                            </div>
                                                                                            <div class="d-flex my-4 justify-content-center">
                                                                                                <a target="_blank" class="btn btn-info mx-4" href="/department/images/<%= tests[0].worksheet %>">Preview</a>
                                                                                                <form action="/department/images/<%=tests[0].worksheet %>/download" method="POST">
                                                                                                    <button class="btn btn-primary mx-4">Download</button>
                                                                                                </form>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                <% } %>
                                                                            </div>
                                                                            <% if (currentUserPos == "department" && !tests[0].report) { %>
                                                                                <form action="/department/test/<%= tests[0]._id %>/upload" method="POST" enctype="multipart/form-data">
                                                                                    <div class="mb-3">
                                                                                        <label for="file" class="form-label">Select Report File: </label>
                                                                                        <input type="file" name="report" class="form-control" id="file" required>
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <label for="file" class="form-label">Select Worksheet File: </label>
                                                                                        <input type="file" name="worksheet" class="form-control" id="file" required>
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <button class="btn btn-info">Upload File</button>                            
                                                                                    </div>
                                                                                </form>
                                                                            <% } %>
                                                                            <% if (currentUserPos == "manager" && currentUserCity == "VAD" && !["approved","processing","pending",'remarked'].includes(tests[0].status)) { %>
                                                                             <div class="d-flex justify-content-center">
                                                                                <form action="/manager/test/<%= tests[0].sampleNo %>/approve" method="POST">
                                                                                    <button class="btn btn-success m-4 btn-md">Approve</button>
                                                                                </form>
                                                                                <button class="btn btn-info m-4 btn-md" data-bs-toggle="modal" data-bs-target="#remarkReport" onclick="handleRemark('<%= tests[0].sampleNo %>')">Remark</button>
                                                                             </div>
                                                                            <% } %>
                                                                            <% if (tests[0].previousReport) { %>
                                                                                <h4>Previous Report</h4>
                                                                                <div class="mt-4 w-100">
                                                                                    <img src="/department/images/<%= tests[0].previousReport %>" alt="Click Below to view Previous Report" width="400px" class="mx-3 d-block mx-auto">
                                                                                </div>
                                                                                <div class="d-flex my-4 justify-content-center">
                                                                                    <a target="_blank" class="btn btn-info mx-4" href="/department/images/<%= tests[0].previousReport %>">Preview</a>
                                                                                    <form action="/department/images/<%= tests[0].previousReport %>/download" method="POST">
                                                                                        <button class="btn btn-primary mx-4">Download</button>
                                                                                    </form>
                                                                                </div>
                                                                            <% } %>
                                                                        </div>
                                                                        <!-- end card body -->
                                                                    </div>
                                                                    <!-- end card -->
                                                                </div>
                                                                <!-- end col -->
                                                            </div>
                                                         
                                                           

                                                            <div class="d-print-none mt-3">
                                                                <div class="float-end">
                                                                    Save in A2 size <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light me-1"><i class="fa fa-print"></i></a>
                                                                    <!-- <a href="#" class="btn btn-primary w-md waves-effect waves-light">Send</a> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                        </div>
                                    </div>
                                    <!-- tab pane -->
                                </div>
                                <!-- end tab content -->
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    <!-- Modal -->
    <div class="modal fade" id="remarkReport" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add New Material</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="POST" id="remarkForm">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="example-text-input" class="form-label">Remarked Text</label>
                            <input class="form-control" type="text" placeholder="Remarked Text" id="example-text-input" name="remarkedText" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © GEO DESIGN.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by <a href="#!" class="text-decoration-underline">Themesbrand</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script>
    const handleRemark = sampleNo => {
        const remarkForm = document.getElementById('remarkForm')
        remarkForm.setAttribute('action',`/manager/test/${sampleNo}/remark`)
    }
</script>