<% layout('/includes/cse') -%> 
<% block('title').append('<h5>All Tests</h5>') %>
<!-- <body data-layout="horizontal"> -->

      <!-- Left Sidebar End -->

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="main-content">
        <div class="page-content">
          <%- include('flash.ejs') %>
          <div class="row">
            <% let index = 0 %> 
            <% categories.forEach((category) => { %>
                <div class="col-md-12">
                    <br />
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Cement : <code><%= category.toUpperCase() %>  TEST</code></h4>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-12 mb-4">
                            <form
                              class="row gx-3 gy-2 align-items-center mb-4 mb-lg-0"
                              action="/material/add/<%= category %>/<%= material._id %>?_method=PUT"
                              method="POST"
                            >
                              <div class="col-sm-4">
                                <div>
                                  <label class="visually" for="specificSizeInputName"
                                    >Test Name</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="specificSizeInputName"
                                    placeholder="Enter Test Name"
                                    name="name"
                                    required
                                  />
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div>
                                  <label class="visually" for="specificSizeInputName"
                                    >Government Price</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="specificSizeInputName"
                                    placeholder="Enter Government Price"
                                    name="govt"
                                    required
                                  />
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div>
                                  <label class="visually" for="specificSizeInputName"
                                    >PVT Price</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="specificSizeInputName"
                                    placeholder="Enter PVT Price"
                                    name="pvt"
                                    required
                                  />
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div>
                                  <label class="visually" for="specificSizeInputName"
                                    >3rd Party Price</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="specificSizeInputName"
                                    placeholder="Enter 3rd Party Price"
                                    name="thirdParty"
                                    required
                                  />
                                </div>
                              </div>
                              <input type="hidden" name="category" value="<%= category %>" required>
                              <div class="col-md-2">
                                <div class="col-sm-auto">
                                  <br />
                                  <button type="submit" class="btn btn-primary">
                                    Save
                                  </button>
                                </div>
                              </div>
                            </form>
                          </div>
      
                          <table
                            id=""
                            class="table table-bordered dt-responsive nowrap w-100"
                          >
                            <thead>
                              <tr></tr>
                              <tr>
                                <th>Test Name</th>
                                <th>Government Price (in ₹)</th>
                                <th>PVT Price (in ₹)</th>
                                <th>3rd Party Price (in ₹)</th>
                                <th>Action</th>
                              </tr>
                            </thead>
      
                            <tbody>
                                
                              <% category == "physical" && material['physical'].forEach((test)=> { %>
                              <tr>
                                <td><%= test.name %></td>
                                <td>₹ <%= test.govt %></td>
                                <td>₹ <%= test.pvt %></td>
                                <td>₹ <%= test.thirdParty %></td>
      
                                <td>
                                  <a
                                    href=""
                                    class="btn btn-info waves-effect waves-light me-1"
                                    data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop"
                                    onclick="handleClick('<%= test._id %>')"
                                  >
                                    <i class="bx bx-edit"></i>
                                  </a> 
                                  <form action="/test/<%= test._id %>?_method=DELETE" method="POST" style="display: inline;" id="delete-form-<%= ++index %>">
                                    <button type="button" class="btn btn-danger waves-effect waves-light me-1" onclick="handleDelete('<%= index %>','<%= test.name %>')">
                                        <i class=" bx bxs-trash"></i>
                                    </button>
                                  </form>
                                </td>
                              </tr>
                              <% }) %>
                              <% category == "chemical" && material['chemical'].forEach(test=> { %>
                                <tr>
                                  <td><%= test.name %></td>
                                  <td>₹ <%= test.govt %></td>
                                  <td>₹ <%= test.pvt %></td>
                                  <td>₹ <%= test.thirdParty %></td>
        
                                  <td>
                                    <a
                                      href=""
                                      class="btn btn-info waves-effect waves-light me-1"
                                      data-bs-toggle="modal"
                                      data-bs-target="#staticBackdrop"
                                      onclick="handleClick('<%= test._id %>')"
                                    >
                                      <i class="bx bx-edit"></i>
                                    </a>
        
                                    <form action="/test/<%= test._id %>?_method=DELETE" method="POST" style="display: inline;" id="delete-form-<%= ++index %>">
                                        <button type="button" class="btn btn-danger waves-effect waves-light me-1" onclick="handleDelete('<%= index %>','<%= test.name %>')">
                                            <i class=" bx bxs-trash"></i>
                                        </button>
                                    </form>
                                  </td>
                                </tr>
                                <% }) %>
                                <% category == "other" && material['other'].forEach(test=> { %>
                                    <tr>
                                      <td><%= test.name %></td>
                                      <td>₹ <%= test.govt %></td>
                                      <td>₹ <%= test.pvt %></td>
                                      <td>₹ <%= test.thirdParty %></td>
            
                                      <td>
                                        <a
                                          href=""
                                          class="btn btn-info waves-effect waves-light me-1"
                                          data-bs-toggle="modal"
                                          data-bs-target="#staticBackdrop"
                                          onclick="handleClick('<%= test._id %>')"
                                        >
                                          <i class="bx bx-edit"></i>
                                        </a>
            
                                        <form action="/test/<%= test._id %>?_method=DELETE" method="POST" style="display: inline;" id="delete-form-<%= ++index %>">
                                            <button type="button" class="btn btn-danger waves-effect waves-light me-1" onclick="handleDelete('<%= index %>','<%= test.name %>')">
                                                <i class=" bx bxs-trash"></i>
                                            </button>
                                        </form>
                                      </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!-- end cardaa -->
                    </div>
                    <!-- end col -->
                  </div>
            <% }) %>

            
            <!-- end row -->
          </div>
          <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        
    
    <!-- Static Backdrop Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      role="dialog"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              Edit Test
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form action="" method="POST" id="change-test">
            <div class="modal-body">
              <div class="mb-3">
                <label for="example-text-input" class="form-label"
                  >Test</label
                >
                <input
                  class="form-control"
                  type="text"
                  placeholder="Add Test Name"
                  id="example-text-input"
                  name="name"
                  required
                />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                Close
              </button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script>
        const handleDelete = (index,material) => {
            const deleteForm = document.getElementById(`delete-form-${index}`)
            let text = `Are you sure you want to delete ${material}`;
            if (confirm(text) == true) {
                deleteForm.submit()
            }
        }

        const handleClick = (id) => {
          const changeForm = document.getElementById('change-test')
          changeForm.setAttribute("action",`/test/${id}?_method=PUT`)
        }
    </script>
