<% layout('/includes/cse') -%>
<% block('title').append('<h5>All Clients</h5>') %>
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                       <div class="row">
                        <div class="col-md-12">
                            <%- include('flash.ejs')  %> 
                            <div style="float: right;">
                                <a href="/client/new" class="btn btn-primary"><i class="bx bx-plus me-1"></i> Add New Client</a>
                            </div>
                        </div>
                        
                       </div>
                        <div class="row">
                            <div class="col-12"><br>
                                <div class="card">
                                   
                                    <div class="card-body">
                                        <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                                            <thead>
                                            <tr>
                                                <th>Code </th>
                                                <th>Client</th>
                                                <th>Category</th>
                                                <th>City</th>
                                                <th>Alias</th>
                                                <th>Discount(%)</th>
                                                <th>Type of Tax</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
        
        
                                            <tbody>
                                            <% clients.forEach((client,index) => { %>
                                                <tr>
                                                    <td>0<%= client.clientCode %></td>
                                                    <td><%= client.name %></td>
                                                    <td><%= client.retailType %>.</td>
                                                    <td><%= client.city %></td>
                                                    <td><%= client.alias %></td>
                                                    <td><%= client.discount %>%</td>
                                                    <td><a href=""><%= client.taxType %></a></td>
                                                    <td>
                                                        <a href="/client/<%= client._id %>" class="btn btn-info waves-effect waves-light me-1">
                                                            <i class=" bx bx-edit"></i>
                                                        </a>
                                                        <form style="display: inline;" action="/client/<%= client._id %>?_method=DELETE" method="POST" id="delete-form-<%= index %>">
                                                            <button type="button" class="btn btn-danger waves-effect waves-light me-1" onclick="handleDelete('<%= index %>','<%= client.name %>')">
                                                                <i class=" bx bxs-trash"></i>
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            <% }) %>                                            
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end cardaa -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                <script>
                    const handleDelete = (index,test) => {
                        const deleteForm = document.getElementById(`delete-form-${index}`)
                        let text = `Are you sure you want to delete ${test}`;
                        if (confirm(text) == true) {
                            deleteForm.submit()
                        }
                    }
                </script>