<% layout('/includes/cse') -%> 
<% block('title').append('<h5>New Inward</h5>') %>

<% let currMaterial = "" %> 

<div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-pills nav-justified my-4">
                        <li class="nav-item">
                          <a
                            href="#seller-details"
                            class="nav-link"
                            data-toggle="tab"
                          >
                            <div
                              class="step-icon"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Seller Details"
                            >
                              <i class="bx bx-list-ul"></i>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a
                            href="#company-document"
                            class="nav-link active"
                            data-toggle="tab"
                          >
                            <div
                              class="step-icon"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Company Document"
                            >
                              <i class="bx bx-book-bookmark"></i>
                            </div>
                          </a>
                        </li>

                        <li class="nav-item">
                          <a
                            href="#bank-detail"
                            class="nav-link"
                            data-toggle="tab"
                          >
                            <div
                              class="step-icon"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Bank Details"
                            >
                              <i class="bx bxs-bank"></i>
                            </div>
                          </a>
                        </li>
                      </ul>

                      <div class="tab-pane" id="company-document">
                        <div>
                          <div class="text-center mb-4">
                            <h5>Add Test Samples :</h5>
                            <p class="card-title-desc">
                              Fill all information below
                            </p>
                          </div>
                          <% if (!existing) { %>
                            <form action="/inward/new/tests" method="POST">
                          <% }else{ %>
                            <form action="/inward/<%= inward._id %>/edit-test?_method=PUT" method="POST">
                          <% } %> 
                            <div class="row">
                              <div class="col-lg-4 col-md-4">
                                <div class="mb-3">
                                  <label
                                    for="choices-single-default"
                                    class="form-label font-size-13 text-muted"
                                    >Select Material</label
                                  >
                                  <select
                                    class="form-control"
                                    data-trigger
                                    name="material"
                                    id="material-choice"
                                    placeholder="This is a search placeholder"
                                    onchange="setTestOption(this.value)"
                                  >
                                    <option value="">Select</option>
                                    <% materials.forEach(material => { %>
                                     <option value="<%= material.name %>"><%=material.name %></option>
                                    <% }) %>
                                  </select>
                                </div>
                              </div>

                              <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                  <label
                                    for="choices-single-groups"
                                    class="form-label font-size-13 text-muted"
                                  >
                                    Select Test</label>
                                  <select
                                    class="form-control"
                                    data-trigger
                                    name="tests"
                                    id="test-choice"
                                    disabled multiple
                                  >
                                    <option value="">Select Test</option>
                                    <% materials.forEach(material => { %>
                                      
                                    <optgroup label="Physical" material="<%= material.name %>" class="test-option">
                                        <% material.physical.forEach(test => { %>
                                         <option value="<%= test._id %>"><%= test.name %></option>
                                        <% }) %>
                                    </optgroup>
                                    <optgroup label="Chemical" material="<%= material.name %>" class="test-option">
                                        <% material.chemical.forEach(test => { %>
                                            <option value="<%= test._id %>"><%= test.name %></option>
                                        <% }) %>
                                    </optgroup>
                                    <optgroup label="Other" material="<%= material.name %>" class="test-option">
                                        <% material.other.forEach(test => { %>
                                            <option value="<%= test._id %>"><%= test.name %></option>
                                        <% }) %>
                                    </optgroup>
                                    <% }) %>
                                  </select>
                                </div>
                              </div>
                              <div class="col-lg-2 col-md-2">
                                <div class="mb-3">
                                  <label
                                    for="basicpill-cstno-input"
                                    class="form-label"
                                    >Qty</label
                                  >
                                  <input
                                    type="number"
                                    class="form-control"
                                    id="basicpill-cstno-input"
                                    placeholder="Enter qty"
                                    name="quantity"
                                  />
                                </div>
                              </div>

                              <div class="col-lg-2 col-md-2">
                                <div class="mb-3">
                                  <label
                                    for="basicpill-cstno-input"
                                    class="form-label"
                                    style="visibility: hidden"
                                    >.</label
                                  ><br />

                                  <button
                                    class="btn btn-primary"
                                    style="width: 100%"
                                    >Add
                                    <i class="bx bx-add-to-queue ms-1"></i
                                  ></button>
                                </div>
                              </div>
                            </div>
                          </form>
                            <div class="row">
                              <div class="col-xl-12">
                                <div class="card">
                                  <div class="card-header">
                                    <h4 class="card-title">
                                      Added Test For JOB :
                                      <span
                                        ><code><%= inward.jobId %> </code></span
                                      >
                                    </h4>
                                    <p>
                                      Client : <%= inward.client %>  | Project : <%= inward.name %> 
                                    </p>
                                  </div>
                                  <div class="card-body">
                                    <div class="table-responsive">
                                      <table
                                        class="table table-bordered border-primary mb-0"
                                      >
                                        <thead>
                                          <tr>
                                            <th>#</th>
                                            <th>Sample No.</th>
                                            <th>Material</th>
                                            <th>Test</th>
                                            <th>Price</th>
                                            <th>Report No.</th>
                                            <th>Action</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <% inward.tests.forEach((test,index) => { %>
                                            <tr>
                                              <th scope="row"><%= index+1 %></th>
                                              <td><%= test.sampleNo %></td>
                                              <td><%= test.material %></td>
                                              <td><%= test.testName %></td>
                                              <td><%= test.price %></td>
                                              <td><%= test.reportNo %></td>
                                              <td>
                                                <!-- <a
                                                  href=""
                                                  data-bs-toggle="modal"
                                                  data-bs-target="#staticBackdrop"
                                                  class="btn btn-primary"
                                                  onclick="handleEdit('<%=test.reportNo%>','<%=test.price%>')"
                                                  ><i class="bx bx-edit"></i>
                                                  EDIT
                                                </a>
                                                &nbsp; | &nbsp; -->
                                                <% if (!existing) { %>
                                                  <form action="/inward/new/<%= test.reportNo %>/<%= test.testName %>?_method=DELETE" method="POST" style="display: inline;">
                                                <% }else{ %>
                                                  <form action="/inward/<%= test._id %>/edit-test?_method=DELETE" method="POST" style="display: inline;">
                                                <% } %> 
                                                  <button class="btn btn-danger">
                                                    <i class="mdi mdi-delete"></i>Delete
                                                  </button>
                                                </form>
                                              </td>
                                            </tr>
                                          <% }) %>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <!-- end card body -->
                                </div>
                                <!-- end card -->
                              </div>
                              <!-- end col -->
                            </div>
                            <div class="d-flex justify-content-between">
                              <% if (!existing) { %>
                                <form action="/inward/new/save" method="POST">
                              <% }else{ %>
                                <form action="/inward/invoice/<%= inward.invoice %>">
                              <% } %> 
                                <button
                                    class="btn btn-primary"
                                    >Next <i class="bx bx-chevron-right ms-1"></i>
                                </button>
                              </form>
                              <button class="mx-4 btn btn-danger" onclick="clearInward()">Clear Inward</button>
                            </div>
                            <form action="/inward/clear" method="POST" id="clear-inward-form"></form>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Edit Price
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="" method="POST" id="change-test">
        <div class="modal-body">
          <div class="mb-3">
            <label for="example-text-input" class="form-label"
              >Price</label
            >
            <input
              class="form-control"
              type="text"
              placeholder="Add Test Name"
              id="modal-test-price"
              name="price"
              required
            />
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<script>
    const setTestOption = (material) => {
      document.getElementById('test-choice').removeAttribute('disabled')
        const testOptions = document.querySelectorAll('.test-option')
        testOptions.forEach(option => {
          const currMaterial = option.getAttribute('material')
          if(currMaterial!=material){
            option.classList.add('d-none')
          }else{
            option.classList.remove('d-none')
          }
        })
    }

    const clearInward = () =>{
      if(window.confirm("Do you want to clear current Inward?")){
        document.getElementById('clear-inward-form').submit()
      }
    }

    // const handleEdit = (reportNo,price) => {
    //   const changeForm = document.getElementById('change-test')
    //   changeForm.setAttribute("action",`/inward/new/${reportNo}?_method=PUT`)
    //   document.getElementById('modal-test-price').setAttribute('value',price)
    // }
</script>