<% layout('/includes/cse') -%> 
<% block('title').append('<h5>New Inward</h5>') %>

<% let currMaterial = "" %> 

<div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-pills nav-justified my-4">
                        <li class="nav-item">
                          <a
                            href="#seller-details"
                            class="nav-link"
                            data-toggle="tab"
                          >
                            <div
                              class="step-icon"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Seller Details"
                            >
                              <i class="bx bx-list-ul"></i>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a
                            href="#company-document"
                            class="nav-link active"
                            data-toggle="tab"
                          >
                            <div
                              class="step-icon"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Company Document"
                            >
                              <i class="bx bx-book-bookmark"></i>
                            </div>
                          </a>
                        </li>

                        <li class="nav-item">
                          <a
                            href="#bank-detail"
                            class="nav-link"
                            data-toggle="tab"
                          >
                            <div
                              class="step-icon"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Bank Details"
                            >
                              <i class="bx bxs-bank"></i>
                            </div>
                          </a>
                        </li>
                      </ul>

                      <div class="tab-pane" id="company-document">
                        <div>
                          <div class="text-center mb-4">
                            <h5>Add Test Samples :</h5>
                            <p class="card-title-desc">
                              Fill all information below
                            </p>
                          </div>
                          <form action="/inward/new/tests" method="POST">
                            <div class="row">
                              <div class="col-lg-4 col-md-4">
                                <div class="mb-3">
                                  <label
                                    for="choices-single-default"
                                    class="form-label font-size-13 text-muted"
                                    >Select Material</label
                                  >
                                  <select
                                    class="form-control"
                                    data-trigger
                                    name="material"
                                    id="material-choice"
                                    placeholder="This is a search placeholder"
                                    onchange="setTestOption(this.value)"
                                  >
                                    <option value="">Select</option>
                                    <% materials.forEach(material => { %>
                                     <option value="<%= material.name %>"><%=material.name %></option>
                                    <% }) %>
                                  </select>
                                </div>
                              </div>

                              <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                  <label
                                    for="choices-single-groups"
                                    class="form-label font-size-13 text-muted"
                                  >
                                    Select Test</label>
                                  <select
                                    class="form-control"
                                    data-trigger
                                    name="tests"
                                    id="test-choice"
                                    disabled multiple
                                  >
                                    <option value="">Select Test</option>
                                    <% materials.forEach(material => { %>
                                      
                                    <optgroup label="Physical" material="<%= material.name %>" class="test-option">
                                        <% material.physical.forEach(test => { %>
                                         <option value="<%= test._id %>"><%= test.name %></option>
                                        <% }) %>
                                    </optgroup>
                                    <optgroup label="Chemical" material="<%= material.name %>" class="test-option">
                                        <% material.chemical.forEach(test => { %>
                                            <option value="<%= test._id %>"><%= test.name %></option>
                                        <% }) %>
                                    </optgroup>
                                    <optgroup label="Other" material="<%= material.name %>" class="test-option">
                                        <% material.other.forEach(test => { %>
                                            <option value="<%= test._id %>"><%= test.name %></option>
                                        <% }) %>
                                    </optgroup>
                                    <% }) %>
                                  </select>
                                </div>
                              </div>
                              <div class="col-lg-2 col-md-2">
                                <div class="mb-3">
                                  <label
                                    for="basicpill-cstno-input"
                                    class="form-label"
                                    >Qty</label
                                  >
                                  <input
                                    type="number"
                                    class="form-control"
                                    id="basicpill-cstno-input"
                                    placeholder="Enter qty"
                                    name="quantity"
                                  />
                                </div>
                              </div>

                              <div class="col-lg-2 col-md-2">
                                <div class="mb-3">
                                  <label
                                    for="basicpill-cstno-input"
                                    class="form-label"
                                    style="visibility: hidden"
                                    >.</label
                                  ><br />

                                  <button
                                    class="btn btn-primary"
                                    style="width: 100%"
                                    >Add
                                    <i class="bx bx-add-to-queue ms-1"></i
                                  ></button>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xl-12">
                                <div class="card">
                                  <div class="card-header">
                                    <h4 class="card-title">
                                      Added Test For JOB :
                                      <span
                                        ><code>VAD/001/019/007</code></span
                                      >
                                    </h4>
                                    <p>
                                      Client : ANKIT SAINI | Project : jsba
                                      ascbkac ascas ascasdch
                                    </p>
                                  </div>
                                  <div class="card-body">
                                    <div class="table-responsive">
                                      <table
                                        class="table table-bordered border-primary mb-0"
                                      >
                                        <thead>
                                          <tr>
                                            <th>#</th>
                                            <th>Sample No.</th>
                                            <th>Material</th>
                                            <th>Test</th>
                                            <th>Price</th>
                                            <th>Report No.</th>
                                            <th>Action</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <% inward.tests.forEach((test,index) => { %>
                                            <tr>
                                              <th scope="row"><%= index %></th>
                                              <td><%= test.sampleNo %></td>
                                              <td><%= test.material %></td>
                                              <td><%= test.testName %></td>
                                              <td><%= test.price %></td>
                                              <td><%= test.reportNo %></td>
                                              <td>
                                                <a
                                                  href=""
                                                  class="btn btn-primary"
                                                  ><i class="bx bx-edit"></i>
                                                  EDIT
                                                </a>
                                                &nbsp; | &nbsp;
                                                <a
                                                  href=""
                                                  class="btn btn-danger"
                                                  ><i
                                                    class="mdi mdi-delete"
                                                  ></i>
                                                  Delete
                                                </a>
                                              </td>
                                            </tr>
                                          <% }) %>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <!-- end card body -->
                                </div>
                                <!-- end card -->
                              </div>
                              <!-- end col -->
                            </div>
                            <button
                                href="javascript: void(0);"
                                class="btn btn-primary"
                                >Next <i class="bx bx-chevron-right ms-1"></i>
                            </button>
                          </form>
                            <!-- <a
                                href="javascript: void(0);"
                                class="btn btn-primary"
                                onclick="nextTab()"
                                ><i class="bx bx-chevron-left me-1"></i>
                                Previous
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    

<script>
    console.log("hello");
    const setTestOption = (material) => {
      document.getElementById('test-choice').removeAttribute('disabled')
        const testOptions = document.querySelectorAll('.test-option')
        testOptions.forEach(option => {
          const currMaterial = option.getAttribute('material')
          if(currMaterial!=material){
            option.classList.add('d-none')
          }else{
            option.classList.remove('d-none')
          }
        })
    }
</script>