<% layout('/includes/cse') -%> 
<% block('title').append('<h5>New Inward</h5>') %>

<div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-pills nav-justified my-4">
                        <li class="nav-item">
                          <a
                            href="#seller-details"
                            class="nav-link"
                            data-toggle="tab"
                          >
                            <div
                              class="step-icon"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Seller Details"
                            >
                              <i class="bx bx-list-ul"></i>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a
                            href="#company-document"
                            class="nav-link"
                            data-toggle="tab"
                          >
                            <div
                              class="step-icon"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Company Document"
                            >
                              <i class="bx bx-book-bookmark"></i>
                            </div>
                          </a>
                        </li>

                        <li class="nav-item">
                          <a
                            href="#bank-detail"
                            class="nav-link active"
                            data-toggle="tab"
                          >
                            <div
                              class="step-icon"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="Bank Details"
                            >
                              <i class="bx bxs-bank"></i>
                            </div>
                          </a>
                        </li>
                    </ul>
                    <div class="tab-pane" id="bank-detail">
                        <div>
                        <div class="text-center mb-4">
                            <h5>Bank Details</h5>
                            <p class="card-title-desc">
                            Fill all information below
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                <div class="invoice-title">
                                    <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <div class="mb-4">
                                        <img
                                            src="assets/images/logo2-2.png"
                                            alt=""
                                            height="24"
                                        /><span class="logo-txt"
                                            >GEO DESIGN</span
                                        >
                                        </div>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <div class="mb-4">
                                        <h4 class="float-end font-size-16">
                                            JOB : <%= invoice.jobId %> 
                                        </h4>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                      <p class="mb-1">Contracter : <%= invoice.client.name %> 
                                      </p>
                                      <p class="mb-1">City : <%= invoice.client.city %> </p>
                                      <p class="mb-1">Email : <%= invoice.client.email %> </p>
                                      <p class="mb-1">Phone : <%= invoice.client.telephone %> </p>
                                      <p class="mb-1">GST
                                          : <%= invoice.client.gstNo %></p>
                                      <% if (invoice.witnessName) { %>
                                        <p class="mb-1">Witness Name : <%= invoice.witnessName %>
                                        </p>
                                      <% } %>
                                  </div>
                                        
                                        <div class="col-md-6">
                                          <p class="mb-1">Type : Normal / Witness
                                          </p>
                                          <p class="mb-1">Ref No. :
                                            <%= invoice.refNo %>
                                          </p>
                                          <p class="mb-1">Client : <%= invoice.clientTemp %>
                                          </p>
                                          <p class="mb-1">Consultant : <%= invoice.consultantName %>
                                          </p>
                                          <p class="mb-1">Retail : <%= invoice.client.retailType %></p>
                                          <% if (invoice.witnessDate) { %>
                                            <p class="mb-1">Witness Date : <%= invoice.witnessDate %>
                                          <% } %>
                                      </p>
                                  </div>
                              </div>
                                <hr class="my-4" />
                                <div class="row mb-4">
                                  <div class="col-sm-4">
                                    <div>
                                        <h5 class="font-size-15 mb-3">Contact
                                            Person:</h5>
                                        <h5 class="font-size-14 mb-2">Name:
                                          <%= invoice.client.contactPerson.name %></h5>
                                        <p class="mb-1">Contact : <%= invoice.client.contactPerson.mobile %>
                                        </p>
                                    </div>
                                  </div>
                                  <div class="col-sm-4">
                                      <div>
                                          <h5 class="font-size-15 mb-3">Other
                                              Person:</h5>
                                          <h5 class="font-size-14 mb-2">Accountant
                                              :
                                              <%= invoice.client.contactPerson.accountantName %></h5>
                                          <p class="mb-1">Contact : <%= invoice.client.contactPerson.accountantNumber %>
                                          </p>

                                          <h5 class="font-size-14 mb-2">Manager
                                              :
                                              <%= invoice.client.contactPerson.managerName %></h5>
                                          <p class="mb-1">Contact : <%= invoice.client.contactPerson.managerNumber %>
                                          </p>

                                      </div>
                                  </div>

                                  <div class="col-sm-4">
                                      <div>
                                          <div>
                                              <h5 class="font-size-15">Report
                                                  Date:</h5>
                                              <p><%= invoice.reportDate %></p>
                                          </div>
                                          <div>
                                              <h5 class="font-size-15">Letter
                                                  Date:</h5>
                                              <p><%= invoice.letterDate %></p>
                                          </div>

                                      </div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                    <div>
                                        <h5 class="font-size-15 mb-3">
                                        Name of Work : <%= invoice.name %> 
                                        </h5>
                                        <p class="mb-1">
                                        This is the software project from
                                        vadodara branch
                                        </p>
                                    </div>
                                    </div>
                                </div>

                                <div class="py-2 mt-3">
                                    <h5 class="font-size-15">
                                    Order summary
                                    </h5>
                                </div>
                                <div class="p-4 border rounded">
                                    <div class="table-responsive">
                                    <table
                                        class="table table-nowrap align-middle mb-0"
                                    >
                                        <thead>
                                        <tr>
                                            <th style="width: 70px">
                                            S. No.
                                            </th>
                                            <th>Material</th>
                                            <th>Test</th>
                                            <th>Qty</th>
                                            <th>Rate</th>
                                            <th>Rate(Incl. ST)</th>
                                            <th>Edit Rate</th>
                                            <th
                                            class="text-end"
                                            style="width: 120px"
                                            >
                                            Amount(Rs.)
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% invoice.order.forEach((test,index) => { %>
                                            <tr>
                                                <th scope="row">0<%= index+1 %></th>
                                                <td>
                                                <h5 class="font-size-15 mb-1">
                                                    <%= test.material %>
                                                </h5>
                                                </td>
                                                <td>
                                                <%= test.test %>
                                                </td>
                                                <td><%= test.quantity %></td>
                                                <td><%= test.rate %></td>
                                                <% const serviceTaxRate = Math.floor(test.rate+((serviceTax/100)*test.rate)) %>
                                                <td><%= serviceTaxRate %></td>
                                                <td>
                                                  <a
                                                  href=""
                                                  data-bs-toggle="modal"
                                                  data-bs-target="#editPrice"
                                                  class="btn btn-primary"
                                                  onclick="handleEdit('<%= invoice._id %>','<%=test._id%>','<%=test.rate%>')"
                                                  ><i class="bx bx-edit"></i>
                                                  EDIT
                                                </a>
                                                </td>
                                                <td class="text-end"><%= serviceTaxRate*test.quantity %></td>
                                            </tr> 
                                        <% }) %>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-10">
                                    <div>
                                        <h5 class="font-size-15 mb-3">
                                        In Words:
                                        </h5>
                                        <p class="mb-1">
                                          <%= inWords(invoice.grandTotal) %>
                                        </p>
                                    </div>
                                    </div>
                                    <div class="col-sm-2">
                                    <div class="row">
                                        <div class="col-sm-6">
                                        <h5 class="font-size-15">
                                            Sub Total :
                                        </h5>
                                        <h5 class="font-size-15">
                                            Discount :
                                        </h5>
                                        <h6 class="font-size-15">
                                            9% SGST :
                                        </h6>
                                        <h6 class="font-size-15">
                                            9% CGST :
                                        </h6>
                                        <h5 class="font-size-15">
                                            Grand Total :
                                        </h5>
                                        </div>
                                        <div class="col-sm-6">
                                        <h6><%= invoice.subTotal %></h6>
                                        <h6>-<%= invoice.discount %></h6>
                                        <h6><%= Math.floor((invoice.subTotal-invoice.discount)*(9/100)*100)/100 %> %></h6>
                                        <h6><%= Math.floor((invoice.subTotal-invoice.discount)*(9/100)*100)/100 %> %></h6>
                                        <h6><%= invoice.grandTotal %> </h6>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                            <% if (!invoice.letterDate) { %>
                                <a href="" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                                Get Inward
                              </a>
                            <% }else{ %>
                                <a href="/inward/<%= invoice.inward %>/edit-test" class="btn btn-primary">
                                  Edit Inward
                                </a>
                            <% } %> 

                            <a href="/inward/performa/<%= invoice._id %>" class="btn btn-primary"
                                >Get Performa Invoice
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Edit Price
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="/inward/<%= invoice.inward %>/<%= invoice._id %>/date" method="POST" id="change-test">
        <div class="modal-body">
          <div class="mb-3">
            <label for="example-text-input" class="form-label"
              >Choose Letter Date</label
            >
            <input
              class="form-control"
              type="date"
              placeholder="Choose Letter Date"
              id="modal-test-price"
              name="letterDate"
              required
            />
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editPrice"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Edit Price
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="" method="POST" id="edit-price">
        <div class="modal-body">
          <div class="mb-3">
            <label for="example-text-input" class="form-label"
              >Price</label
            >
            <input
              class="form-control"
              type="text"
              placeholder="Add Test Name"
              id="modal-test-price"
              name="price"
              required
            />
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const handleEdit = (invoice,id,price) => {
    const changeForm = document.getElementById('edit-price')
    changeForm.setAttribute("action",`/inward/new/${invoice}/${id}?_method=PUT`)
    document.getElementById('modal-test-price').setAttribute('value',price)
}
</script>