<% layout('/includes/accounts') -%> 
<% block('title').append('<h5>Pending Inwards</h5>') %>

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

           
            <div class="row">
                <div class="col-12">
                    <div class="card">
                       
                        <div class="card-body">
                            <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                                <thead>
                                <tr>
                                    <th>Job No. </th>
                                    <th>Client</th>
                                    <th>Total Tests</th>
                                    <th>Total Amount</th>
                                    <th>Pay Required</th>
                                    <th>Report Date</th>
                                    <th>Last Date</th>
                                    <th>Action</th>
                                    <th>Info</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% inwards.forEach(inward => { %>
                                    <tr>
                                        <td><%= inward.jobId %></td>
                                        <td><%= inward.client %></td>
                                        <td><%= inward.tests.length %></td>
                                        <td><%= inward.grandTotal %></td>
                                        <td><%= inward.payRequired %></td>
                                        <td><%= inward.reportDate %></td>
                                        <td><%= inward.letterDate %></td>
                                        <td>
                                            <form action="/accounts/payment/<%= inward._id %>" id="pay-form-<%= inward._id %>" method="POST">
                                                <button type="button" onclick="handlePayment('<%= inward._id %>','<%= inward.jobId %>')" class="btn btn-sm btn-success">Add To Paid</button>
                                            </form>
                                        </td>
                                        <td>
                                            <a href="/inward/invoice/<%= inward.invoice %>"><i class="dripicons-information"></i></a>
                                        </td>
                                    </tr>
                                <% }) %>

                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end cardaa -->
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- container-fluid -->
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © GEO DESIGN.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by <a href="#!" class="text-decoration-underline">KAMI LABS</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script>
    const handlePayment = (id,jobId) => {
        if(window.confirm('You are about to confirm payment for inward with jobNo: '+jobId)){
            document.getElementById('pay-form-'+id).submit()
        }
    }
</script>