<% layout('/includes/manager') -%>
<% block('title').append('<h5>All Inwards</h5>') %>

<div class="main-content">
    <div class="page-content">
        <div class="row">
            <div class="col-12"><br>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered border-primary mb-0">

                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Sample No.</th>
                                        <th>Material</th>
                                        <th>Test</th>
                                        <th>Report No.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% tests.forEach((test,index) => { %>
                                        <tr>
                                            <th scope="row"><%= index+1 %></th>
                                            <td><%= test.sampleNo %></td>
                                            <td><%= test.material %></td>
                                            <td><%= test.testName %></td>
                                            <td><%= test.reportNo %></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>