<% layout(`/includes/${currentUserPos}`) -%> 
<% block('title').append('<h5>All Tests</h5>') %>

<div class="main-content">
    <div class="page-content">
        <div class="row">
            <div class="col-12"><br>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered border-primary mb-0">

                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Job No</th>
                                        <th>Sample No.</th>
                                        <th>Material</th>
                                        <th>Test</th>
                                        <th>Report No.</th>
                                        <th>Status</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Type</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% tests.forEach((test,index) => { %>
                                        <tr>
                                            <th scope="row"><%= index+1 %></th>
                                            <td><%= test.jobId %></td>
                                            <td><%= test.sampleNo %></td>
                                            <td><%= test.material %></td>
                                            <td><%= test.testName %></td>
                                            <td><%= test.reportNo %></td>
                                            <td><%= test.status %></td>
                                            <td><%= test.reportDate %></td>
                                            <td><%= test.letterDate %></td>
                                            <td><%= test.type %> Inward</td>
                                            <td>
                                                <% if (currentUserPos == "department") { %>
                                                    <a href="/department/inward/<%= test.inward %>" class="btn btn-success waves-effect waves-light me-1">
                                                        <i class=" bx bxs-info-circle"></i>
                                                    </a>
                                                <% }else { %>
                                                    <a href="/inward/invoice/<%= test.invoice %>" class="btn btn-success waves-effect waves-light me-1">
                                                        <i class=" bx bxs-info-circle"></i>
                                                    </a>
                                                <% } %> 
                                            </td>
                                            <!-- <td>
                                                <form action="/department/test/<%= test._id %>/status/processing" method="POST">
                                                    <button><%= test.status %></button>
                                                </form>
                                            </td>
                                             -->
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>